:host {
  display: block;
  position: relative;
}
.row{
  &:hover{
    background-color: rgba(0, 0, 0, 0.04);
  }
}
.edit-card{
  margin-top: 4px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  color:black;
}

h3{
  font-size: 1.3rem;
  font-weight: 400;
}
.edit-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.save-container{
  padding: 10px;
}
.form-row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
}


@media screen and (min-width: 1400px) {
.long-input {
  min-width: 600px;
}
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.blocker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content{
    margin-top: 100px;
    width: 90%;
    background-color: white;
  }
}
