<mat-tab-group #tabGroup>
  <mat-tab label="Seleccion"> <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="rut">
      <th mat-header-cell *matHeaderCellDef> Rut </th>
      <td mat-cell *matCellDef="let element"> {{element.rut | RutParse}} </td>
    </ng-container>

    <ng-container matColumnDef="entry_date">
      <th mat-header-cell *matHeaderCellDef> Fecha de ingreso </th>
      <td mat-cell *matCellDef="let element"> {{element.entry_date | date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="exit_date">
      <th mat-header-cell *matHeaderCellDef> Fecha de salida </th>
      <td mat-cell *matCellDef="let element"> {{element.exit_date | date:'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="afp">
      <th mat-header-cell *matHeaderCellDef> Afp </th>
      <td mat-cell *matCellDef="let element"> {{element.afp}} </td>
    </ng-container>
    <ng-container matColumnDef="payroll">
      <th mat-header-cell *matHeaderCellDef> Nomina </th>
      <td mat-cell *matCellDef="let element"> <button type="button" mat-raised-button color="primary" (click)="getPayroll(element)">Nomina</button> </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element"> <button type="button" mat-raised-button color="primary" (click)="selectedUser(element)">Editar</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></tr>
  </table>
 </mat-tab>
<form [formGroup]="form">
  <mat-tab label="Editar" [disabled]="!userSelected">
    <form class="edit-container" formGroupName="personalInformation">
      <!-- Informacion personal -->

      <mat-card appearance="outlined" class="edit-card">
        <mat-card-content>
          <h3>
            Información personal
          </h3>
        </mat-card-content>
      </mat-card>
      <div class="form-row">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rut</mat-label>
          <input formControlName="rut" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de nacimiento</mat-label>
          <input formControlName="birth_date" matInput [matDatepicker]="birthDatePicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #birthDatePicker></mat-datepicker>
        </mat-form-field>

      </div>
    </form>
    <!-- Informacion Laboral -->

    <form class="edit-container" formGroupName="laboralInformation">
      <mat-card appearance="outlined" class="edit-card">
        <mat-card-content>
          <h3>
            Información laboral

          </h3>

        </mat-card-content>
      </mat-card>
      <div class="form-row">
        <mat-form-field>
          <mat-label>Fecha de ingreso</mat-label>
          <input formControlName="entryDate" matInput [matDatepicker]="entryDatePicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #entryDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de salida</mat-label>
          <input formControlName="exitDate" matInput  [matDatepicker]="exitDatePicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="exitDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #exitDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="long-input">
          <mat-label>Titulo universitario</mat-label>
          <input formControlName="title" matInput>
        </mat-form-field>
      </div>
    </form>

    <!-- Informacion Complementaria -->

    <form class="edit-container" formGroupName="complementaryInformation">
      <mat-card appearance="outlined" class="edit-card">
        <mat-card-content>
          <h3>
            Información complementaria
          </h3>
        </mat-card-content>
      </mat-card>
      <div class="form-row">
        <mat-form-field>
          <mat-label>Discapacidad</mat-label>
          <mat-select formControlName="disability">
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pensionado</mat-label>
          <mat-select formControlName="pension">
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>AFP</mat-label>
          <mat-select formControlName="afp">
            <mat-option value="Capital">Capital</mat-option>
            <mat-option value="Cuprum">Cuprum</mat-option>
            <mat-option value="Habitat">Habitat</mat-option>
            <mat-option value="Modelo">Modelo</mat-option>
            <mat-option value="Planvital">Planvital</mat-option>
            <mat-option value="Provida">Provida</mat-option>
            <mat-option value="Uno">Uno</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sistema de salud</mat-label>
          <input formControlName="healthSystem" matInput>
        </mat-form-field>
      </div>
      <div>
        <button (click)="createResume()" mat-raised-button color="primary">Siguiente</button>
      </div>
    </form>
  </mat-tab>
    <mat-tab label="Guardar" [disabled]="!userSelected || !pdfGenerated">
      <div class="save-container ">
        <div class="flex justify-center">
          <div id="iframeContainer" style="width: 800px; height: 600px;" #pdfContainer></div>
        </div>
        <button [disabled]="loading" (click)="saveChanges()" mat-raised-button color="primary">Guardar</button>
      </div>
    </mat-tab>
</form>
</mat-tab-group>

<ng-container *ngIf="payrollModal">
  <div class="modal">
    <div class="modal-content">
      <app-calculate [readOnlyNominal]="readOnlyNominal" [editMode]="true" (closeModal)="payrollModal = false" [rut]="rutSelected"></app-calculate>
    </div>
  </div>
  <div class="blocker">

  </div>
</ng-container>
