<mat-toolbar>
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <div class="button-container">
      <button routerLink="/" routerLinkActive="link-active"  [routerLinkActiveOptions]="{ exact: true }" class="nav-button">
        Usuarios
      </button>
      <button routerLink="/calculate" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }" class="nav-button">
        Calcular
      </button>
    </div>

  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
