
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0; box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1.3rem;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

.p-5{
  padding: 35px;
}
.gap-5{
  gap: 35px;
}
